<!DOCTYPE html>
<html>
  <head>
    <title>Twytter</title>
    <link rel='stylesheet' type='text/css' href='./css/style.css'>
  </head>
  <body>
    <header>
      <h1>Twytter!</h1>
    </header>

<%= yield %>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script src="./js/main.js"></script>
</html>
