<!DOCTYPE html>
<html>    <% @user %>

  <head>
    <title>Twytter</title>
    <link rel='stylesheet' type='text/css' href='./css/style.css'>
  </head>
  <body>
    <div class="mainNav">
      <div class="topMenu">
      <a href="/"><div class="smLogo"></div></a>
      <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <li>
 
<% if @user %>
    <a href='/user'>My Page</a>
<% else  %>

    <a href='/sign_up'>Sign Up</a>
<% end %> </li>
<li>

  <form class="submitButton" method="POST"  text="Logouts" action="/logout">
    <input value="Log Out" type="submit">
  </form>


</li>


             </ul>
</nav>


             
      </div>
    </div>
     
     


<%= yield %>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <script src="./js/main.js"></script>
</html>


