<div class="cSpan" style="position:relative; top:150px; ">
  <div  style="width:500px; margin:0 auto; ">
  <h2>Sign Up</h2>
<br />
  <form method="POST" action="/newUser">
  <label for="fname">First Name</label>
  <input class="formTxt" type="text" name="fname">

  <label for="lname">Last Name</label>
  <input class="formTxt" type="text" name="lname">

  <label for="email">Email</label>
  <input class="formTxt" type="text" name="email">

  <label for="handle">Handle</label>
  <input class="formTxt" type="text" name="handle">
  <label for="password">Password</label>
  <input class="formTxt" type="password" name="password">
  <input type="submit">
</form>
</div>
</div>
