/* Home Page */
.home-posts {
  border: 1px solid black;
  margin-bottom: 2em;
}

/* User Page */
.user-posts {
  border: 1px solid black;
  margin-bottom: 2em;
}

/* Both User and Other User Pages */
.following-list {
  border: 1px solid black;
}

.followers-list {
  border: 1px solid black;
}
