html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*layout control*/
.cSpan{width:100%;}
header{width:960px; margin:auto;}



/*END layout control*/	

.headBK { 
  background: url(../images/bkimage.jpg) no-repeat center center ; 
  background-size: cover;
  position:absolute; 
  min-width:100%	;
  top:-30px;
  min-height:550px;
  height:65%;
  z-index: -1000;
  background-color: red;}
  header{height:500px;}

  .twitterLogo{background: url(../images/twytterLogo.svg) no-repeat;
  	width:300px; height: 300px; background-size: contain;
  	position:relative; top:100px; left:34%; opacity: .5; }

  	/*buttons*/
  	.user_Access{font-family: sans-serif;letter-spacing: 1.5px;
  		position:relative; top:100px;text-align: center;}
  	.user_Access ul li{display:inline-block; width:75px;
		background: -moz-linear-gradient(top,  rgba(125,185,232,0.5) 0%, rgba(30,87,153,0.5) 100%);
		background: -webkit-linear-gradient(top,  rgba(125,185,232,0.5) 0%,rgba(30,87,153,0.5) 100%);
		background: linear-gradient(to bottom,  rgba(125,185,232,0.5) 0%,rgba(30,87,153,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807db9e8', endColorstr='#801e5799',GradientType=0 );
		}
  	.user_Access li{background-color: red; padding:10px 15px 10px 15px;
  		border-radius: 5px 5px; border:1px solid #6395A6;}
  	.user_Access a:link{color:#ffffff;}
  	.user_Access a:active{color:#ffffff;}
  	.user_Access a:visited{color:#ffffff;}
  	.user_Access li:hover{background-color: #9BBEC9;}
  	